body {
  background-color: rgb(55, 62, 155);
  font-family: "Inter", sans-serif;
}

.title {
  font-family: "Inter", sans-serif;
  text-align: center;
}
.subtitle {
  text-align: center;
}
